.app {
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  align-items: center;
}

a {
  text-decoration: none;
  color: black;
}

@media screen and (min-width: 1025px) {
  .header span {
    display: none !important;
  }

  .menu {
    display: none !important;
  }

  .app {
    transform: translate(0, 0) !important;
  }
}

@media screen and (min-width: 1439px) {
  .app {
    width: 80vw;
  }
  .header {
    width: 100vw !important;
  }
  .footer {
    width: 100vw !important;
  }
}
