.bottom-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 96rem;
}

.title-lastSection {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 11rem;
    background-color: #f9a03f;
    padding-left: 5%;
}

.title-lastSection p:first-child {
    font-size: 6rem;
    font-weight: 500;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    color: #ffffff;
    margin-right: 2.5%;
}

.title-lastSection p:last-child {
    font-weight: 300;
    font-size: 2.5rem;
    color: #555759;
}

.lastSection {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    width: 100%;
    height: 119vh;
    background-image: -webkit-linear-gradient(rgba(10, 10, 10, 0.6), rgba(10, 10, 10, 0.6)), url('../pictures/cantiere-sfondo2.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.central-square {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 75%;
    height: 85%;
}

.central-square>div {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 25%;
}

.num-romano {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 100%;
    font-size: 10rem;
    font-weight: 500;
    color: #f9a03f;
}

.caption {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 8%;
    width: 80%;
    height: 100%;
}

.caption p:first-child {
    font-size: 2.75rem;
    font-weight: 600;
    color: #d6d6d6;
    letter-spacing: 1px;
}

.caption p:last-child {
    font-size: 2rem;
    color: #b4b4b4;
    padding-top: 1.35%;
}

/* //////////////////----------------  MEDIA QUERIES  ----------------//////////////////*/

/* ----------- IPHONE 5/5S in Portrait ----------- */

@media only screen and (min-width: 320px) and (max-width: 374px) and (orientation: portrait) {

    .title-lastSection {
        height: 7rem;
    }

    .title-lastSection p:first-child {
        font-size: 3rem;
        font-weight: 500;
        letter-spacing: 1px;
    }

    .title-lastSection p:last-child {
        display: none;
    }

    .bottom-container {
        height: 50rem;
    }

    .central-square {
        width: 90%;
        height: 40rem;
        margin-left: 5%;
    }

    .num-romano {
        font-size: 5rem;
        font-weight: 450;
    }

    .caption {
        padding-left: 10%;
    }


    .caption p:first-child {
        font-size: 1.35rem;
        font-weight: 500;
    }

    .caption p:last-child {
        display: none;
    }
}

/* ----------- iPhone 5 & 5S in Landscape ----------- */

@media only screen and (min-width: 568px) and (max-width: 666px) and (orientation: landscape) {
    .bottom-container {
        height: 56rem;
    }

    .title-lastSection {
        justify-content: center;
        height: 6rem;
        padding-left: 0%;
    }

    .title-lastSection p:first-child {
        font-size: 3.5rem;
    }

    .title-lastSection p:last-child {
        font-size: 1.3rem;
    }

    .lastSection {
        justify-content: center;
        height: 50rem;
    }

    .central-square {
        width: 90%;
        height: 85%;
    }

    .num-romano {
        font-size: 7rem;
    }

    .caption {
        padding-left: 3%;
    }

    .caption p:first-child {
        font-size: 2rem;
        font-weight: 550;
    }

    .caption p:last-child {
        font-size: 1.35rem;
    }
}

/* ----------- iPhone 6/7/8 in Portrait ----------- */

@media only screen and (min-width: 375px) and (max-width: 413px) and (orientation: portrait) {

    .bottom-container {
        height: 50rem;
    }

    .title-lastSection {
        height: 5.5rem;
        justify-content: center;
    }

    .title-lastSection p:first-child {
        font-size: 3.2rem;
        font-weight: 500;
        letter-spacing: 1px;
    }

    .title-lastSection p:last-child {
        display: none;
    }

    .lastSection {
        height: 45rem;
    }

    .central-square {
        width: 90%;
        height: 40rem;
        margin-left: 5%;
    }

    .num-romano {
        font-size: 5.3rem;
        font-weight: 450;
    }

    .caption {
        padding-left: 10%;
    }


    .caption p:first-child {
        font-size: 1.5rem;
        font-weight: 500;
    }

    .caption p:last-child {
        display: none;
    }
}

/* ----------- iPhone 6, 7, & 8 in Landscape ----------- */

@media only screen and (min-width: 667px) and (max-width: 735px) and (orientation: landscape) {
    .bottom-container {
        height: 56rem;
    }

    .title-lastSection {
        justify-content: center;
        height: 6rem;
        padding-left: 0%;
    }

    .title-lastSection p:first-child {
        font-size: 4rem;
    }

    .title-lastSection p:last-child {
        font-size: 1.75rem;
    }

    .lastSection {
        justify-content: center;
        height: 50rem;
    }

    .central-square {
        width: 90%;
        height: 85%;
    }

    .num-romano {
        font-size: 7.2rem;
    }

    .caption {
        padding-left: 3%;
    }

    .caption p:first-child {
        font-size: 2.3rem;
        font-weight: 550;
    }

    .caption p:last-child {
        font-size: 1.5rem;
    }
}

/* ----------- iPhone 6/7/8 plus in Portrait ----------- */

@media only screen and (min-width: 414px) and (max-width: 767px) and (orientation: portrait) {

    .bottom-container {
        height: 50rem;
    }

    .title-lastSection {
        height: 5.5rem;
        justify-content: center;
    }

    .title-lastSection p:first-child {
        font-size: 3.55rem;
        font-weight: 500;
        letter-spacing: 1px;
    }

    .title-lastSection p:last-child {
        display: none;
    }

    .lastSection {
        height: 45rem;
    }

    .central-square {
        width: 90%;
        height: 40rem;
        margin-left: 5%;
    }

    .num-romano {
        font-size: 5.85rem;
        font-weight: 450;
    }

    .caption {
        padding-left: 10%;
    }

    .caption p:first-child {
        font-size: 1.7rem;
        font-weight: 500;
    }

    .caption p:last-child {
        display: none;
    }
}

/* ----------- iPhone 6/7/8 plus in Landscape ----------- */

@media only screen and (min-width: 736px) and (max-width: 823px) and (orientation: landscape) {
    .bottom-container {
        height: 56rem;
    }

    .title-lastSection {
        justify-content: center;
        height: 6rem;
        padding-left: 0%;
    }

    .title-lastSection p:first-child {
        font-size: 4.4rem;
    }

    .title-lastSection p:last-child {
        font-size: 1.8rem;
    }

    .lastSection {
        justify-content: center;
        height: 50rem;
    }

    .central-square {
        width: 98%;
        height: 85%;
    }

    .num-romano {
        font-size: 7.8rem;
    }

    .caption {
        padding-left: 4%;
    }

    .caption p:first-child {
        font-size: 2.5rem;
        font-weight: 550;
    }

    .caption p:last-child {
        font-size: 1.7rem;
    }
}

/* ----------- iPad Pro in Portrait ----------- */

@media only screen and (min-width: 1024px) and (max-width: 1100px) and (orientation: portrait) {

    .bottom-container {
        height: 125rem;
    }

    .title-lastSection {
        height: 12rem;
        justify-content: center;
        padding-left: 0%;
    }
}