.carousel {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 88vh;
  overflow-y: hidden;
}

.previous {
  position: absolute;
  top: 44%;
  left: 2rem;
  font-size: 4rem;
  font-weight: 600;
  color: #d9e1e9;
  z-index: 21;
}

.next {
  position: absolute;
  top: 44%;
  right: 2rem;
  font-size: 4rem;
  font-weight: 600;
  color: #d9e1e9;
  z-index: 21;
}

.img1,
.img2,
.img3,
.img4,
.img5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  filter: brightness(40%);
}

.img1 {
  opacity: 1;
}

.layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.692);
  z-index: 20;
}

.previous:hover,
.next:hover {
  cursor: pointer;
  color: aliceblue;
}

.titolo {
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  font-size: 7rem;
  color: #ffffff;
  position: absolute;
  text-transform: uppercase;
  z-index: 22;
  top: 30%;
  left: 8%;
}

.frase {
  font-family: Helvetica, sans-serif;
  font-weight: lighter;
  font-size: 4rem;
  letter-spacing: 1.5px;
  color: #f1eeee;
  position: absolute;
  text-transform: uppercase;
  z-index: 22;
  left: 8%;
  top: 50%;
  color: #f9a03f;
}

/* //////////////----------------  MEDIA QUERIES  ----------------///////////////*/

/* ----------- IPHONE 5/5S in Portrait ----------- */

@media only screen and (min-width: 320px) and (max-width: 374px) and (orientation: portrait) {
  .carousel {
    height: 37vh;
  }

  .previous,
  .next {
    font-size: 2rem;
  }

  .titolo {
    font-size: 2.2rem;
    top: 40%;
    left: 15%;
  }

  .frase {
    font-size: 1.1rem;
    letter-spacing: 1px;
    left: 15%;
    top: 60%;
  }
}

/* ----------- iPhone 5 & 5S in Landscape ----------- */

@media only screen and (min-width: 568px) and (max-width: 666px) and (orientation: landscape) {
  .previous,
  .next {
    font-size: 2rem;
  }

  .titolo {
    font-size: 4rem;
    top: 35%;
    left: 15%;
  }

  .frase {
    font-size: 1.8rem;
    letter-spacing: 1px;
    left: 15%;
    top: 55%;
  }
}

/* ----------- iPhone 6/7/8 in Portrait ----------- */

@media only screen and (min-width: 375px) and (max-width: 413px) and (orientation: portrait) {
  .carousel {
    height: 37vh;
  }

  .previous,
  .next {
    font-size: 2.2rem;
  }

  .titolo {
    font-size: 2.3rem;
    top: 40%;
    left: 15%;
  }

  .frase {
    font-size: 1.2rem;
    letter-spacing: 1px;
    left: 15%;
    top: 60%;
  }
}

/* ----------- iPhone 6, 7, & 8 in Landscape ----------- */

@media only screen and (min-width: 667px) and (max-width: 735px) and (orientation: landscape) {
  .previous,
  .next {
    font-size: 2.15rem;
  }

  .titolo {
    font-size: 4.3rem;
    top: 35%;
    left: 15%;
  }

  .frase {
    font-size: 2rem;
    letter-spacing: 1px;
    left: 15%;
    top: 55%;
  }
}

/* ----------- iPhone 6/7/8 plus in Portrait ----------- */

@media only screen and (min-width: 414px) and (max-width: 767px) and (orientation: portrait) {
  .carousel {
    height: 37vh;
  }

  .previous,
  .next {
    font-size: 2.7rem;
  }

  .titolo {
    font-size: 2.85rem;
    top: 40%;
    left: 13%;
  }

  .frase {
    font-size: 1.5rem;
    letter-spacing: 1px;
    left: 13%;
    top: 58%;
  }
}

/* ----------- iPhone 6/7/8 plus in Landscape ----------- */

@media only screen and (min-width: 736px) and (max-width: 823px) and (orientation: landscape) {
  .carousel {
    height: 49rem;
  }

  .previous,
  .next {
    font-size: 2.85rem;
  }

  .titolo {
    font-size: 4.85rem;
    top: 35%;
    left: 15%;
  }

  .frase {
    font-size: 2.55rem;
    letter-spacing: 1px;
    left: 15%;
    top: 55%;
  }
}

/* ----------- iPad in Portrait ----------- */

@media only screen and (min-width: 768px) and (max-width: 1023px) and (orientation: portrait) {
  .carousel {
    height: 50vh;
    background-color: lightcoral;
  }

  .previous,
  .next {
    font-size: 4rem;
  }

  .titolo {
    font-size: 5.5rem;
    letter-spacing: 1px;
    top: 35%;
    left: 13%;
  }

  .frase {
    font-size: 2.7rem;
    letter-spacing: 1.5px;
    left: 13%;
    top: 55%;
  }
}

/* ----------- iPad in Landscape ----------- */

@media only screen and (min-width: 1024px) and (max-width: 1365px) {
  .carousel {
    height: 68rem;
  }

  .previous,
  .next {
    font-size: 4rem;
  }

  .titolo {
    font-size: 8.5rem;
    top: 32%;
    left: 12%;
  }

  .frase {
    font-size: 3.85rem;
    letter-spacing: 1.5px;
    left: 12%;
    top: 53%;
  }
}

/* ----------- iPad Pro in Portrait ----------- */

@media only screen and (min-width: 1024px) and (max-width: 1100px) and (orientation: portrait) {
  .carousel {
    height: 68rem;
  }
}

@media only screen and (min-width: 1366px) {
  .carousel {
    height: 95rem;
  }
}

@media only screen and (min-width: 1439px) {
  .carousel {
    height: 80rem;
  }
}
