.contacts {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}

.contacts img {
  width: 100%;
  height: auto;
}

.didascalia {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 20rem;
  background-color: #ffffff;
  padding-left: 5%;
}

.didascalia p:first-child {
  font-size: 6rem;
  font-weight: 500;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  color: #f9a03f;
  margin-right: 2.5%;
}

.didascalia p:last-child {
  font-weight: 300;
  font-size: 2.5rem;
  color: #555759;
}

.top {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 72vh !important;
}

.left-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
  animation: moveInLeft 2s;
  overflow: hidden;
}

.right-container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  width: 50%;
  height: 100%;
  animation: moveInRight 2s;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.right-container>div {
  width: 100%;
  height: 100%;
}

.right-container>div:first-child,
.right-container>div:last-child {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #a4a9ad;
}

.right-container>div:nth-child(2),
.right-container>div:nth-child(3) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;
}

.right-container span {
  zoom: 2.2;
  color: #f9a03f;
}

.right-container>div:first-child h3,
.right-container>div:last-child h3 {
  font-weight: normal;
  font-size: 1.7rem;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 5%;
}

.right-container p {
  color: #6c6e70;
  font-size: 1.5rem;
  margin-top: 2%;
}

.email,
.contatti {
  font-weight: normal;
  font-size: 1.7rem;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 5%;
  color: #555759;
}

.pre-footer {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 20rem;
  background-color: #ffffff;
}

/* //////////////----------------  MEDIA QUERIES  ----------------///////////////*/

/*----- GENERAL SETTINGS MOBILE -----*/

@media only screen and (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
  .top {
    flex-direction: column;
    height: auto;
    animation: fadein 1.8s;
  }

  @keyframes fadein {
    0% {
      opacity: 0;
    }

    25% {
      opacity: 0.25;
    }

    50% {
      opacity: 0.5;
    }

    75% {
      opacity: 0.75;
    }

    100% {
      opacity: 1;
    }
  }

  .left-container {
    width: 100%;
    animation: none;
  }

  .right-container {
    width: 100%;
    height: 20rem;
    animation: none;
  }

  .right-container span {
    zoom: 2;
  }

  .right-container h2,
  .right-container h3 {
    font-size: 1rem;
  }

  .right-container p {
    font-size: 1rem;
  }
}

/* ----------- iPhone 5 & 5S in Portrait ----------- */

@media only screen and (min-width: 320px) and (max-width: 374px) and (orientation: portrait) {
  .didascalia {
    height: 10rem;
    justify-content: center;
    padding-left: 0%;
  }

  .didascalia p:first-child {
    font-size: 3rem;
    font-weight: 500;
    letter-spacing: 1px;
  }

  .didascalia p:last-child {
    display: none;
  }

  .right-container {
    width: 100%;
    height: 26.33rem;
    animation: none;
  }

  .right-container span {
    zoom: 1.8;
  }

  .right-container h2,
  .right-container h3 {
    font-size: 1rem;
  }

  .right-container p {
    font-size: 0.8rem;
    letter-spacing: 1px;
  }

  .pre-footer {
    height: 10rem;
  }
}

/* ----------- iPhone 5 & 5S in Landscape ----------- */

@media only screen and (min-width: 568px) and (max-width: 666px) and (orientation: landscape) {
  .didascalia {
    height: 10rem;
  }

  .didascalia p:first-child {
    font-size: 3.5rem;
    font-weight: 500;
    letter-spacing: 1px;
  }

  .didascalia p:last-child {
    font-size: 1.5rem;
  }

  .top {
    flex-direction: column;
    height: 85rem;
    animation: fadein 1.8s;
  }

  @keyframes fadein {
    0% {
      opacity: 0;
    }

    25% {
      opacity: 0.25;
    }

    50% {
      opacity: 0.5;
    }

    75% {
      opacity: 0.75;
    }

    100% {
      opacity: 1;
    }
  }

  .left-container,
  .right-container {
    width: 100%;
    animation: none;
  }

  .pre-footer {
    height: 10rem;
  }
}

/* ----------- iPhone 6, 7, & 8 in Portrait ----------- */

@media only screen and (min-width: 375px) and (max-width: 413px) and (orientation: portrait) {

  .didascalia {
    justify-content: center;
    height: 11rem;
    padding-left: 0%;
  }

  .didascalia p:first-child {
    font-size: 3.2rem;
    font-weight: 500;
    letter-spacing: 1px;
  }

  .didascalia p:last-child {
    display: none;
  }

  .right-container {
    height: 30.73rem;
  }

  .pre-footer {
    height: 11rem;
  }
}

/* ----------- iPhone 6, 7, & 8 in Landscape ----------- */

@media only screen and (min-width: 667px) and (max-width: 735px) and (orientation: landscape) {
  .didascalia {
    height: 13rem;
  }

  .didascalia p:first-child {
    font-size: 4rem;
  }

  .didascalia p:last-child {
    font-size: 1.75rem;
  }

  .top {
    flex-direction: column;
    height: 85rem;
    animation: fadein 1.8s;
  }

  @keyframes fadein {
    0% {
      opacity: 0;
    }

    25% {
      opacity: 0.25;
    }

    50% {
      opacity: 0.5;
    }

    75% {
      opacity: 0.75;
    }

    100% {
      opacity: 1;
    }
  }

  .left-container,
  .right-container {
    width: 100%;
    animation: none;
  }

  .pre-footer {
    height: 13rem;
  }
}

/* ----------- iPhone 6/7/8 plus in Portrait ----------- */

@media only screen and (min-width: 414px) and (max-width: 767px) and (orientation: portrait) {

  .didascalia {
    justify-content: center;
    height: 12rem;
    padding-left: 0%;
  }

  .didascalia p:first-child {
    font-size: 3.55rem;
    font-weight: 500;
    letter-spacing: 1px;
  }

  .didascalia p:last-child {
    display: none;
  }

  .top span {
    zoom: 2.35;
  }

  .right-container h2,
  .right-container h3 {
    font-size: 1.5rem;
  }

  .right-container p {
    font-size: 1rem;
    letter-spacing: 1px;
  }

  .right-container {
    height: 33.93rem;
  }

  .pre-footer {
    height: 12rem;
  }
}

/* ----------- iPhone 6/7/8 PLUS and IPHONE X in Landscape ----------- */

@media only screen and (min-width: 736px) and (max-width: 823px) and (orientation: landscape) {
  .didascalia {
    height: 13rem;
  }

  .didascalia p:first-child {
    font-size: 4.4rem;
  }

  .didascalia p:last-child {
    font-size: 1.8rem;
  }

  .top {
    height: 30rem;
  }

  .top span {
    zoom: 2.35;
  }

  .right-container h2,
  .right-container h3 {
    font-size: 1.5rem;
  }

  .right-container p {
    font-size: 1rem;
    letter-spacing: 1px;
  }

  .right-container {
    height: 30rem;
  }

  .pre-footer {
    height: 13rem;
  }
}

/* ----------- iPad in Portrait ----------- */

@media only screen and (min-width: 768px) and (max-width: 1023px) and (orientation: portrait) {

  .didascalia,
  .pre-footer {
    height: 18rem;
  }

  .didascalia p:first-child {
    font-size: 5.5rem;
    font-weight: 500;
    letter-spacing: 1px;
  }

  .didascalia p:last-child {
    font-size: 2rem;
  }

  .top {
    display: flex;
    flex-direction: column;
    height: 126rem;
  }

  .top>div {
    width: 100%;
  }

  .right-container span {
    zoom: 3.2;
  }

  .right-container h2,
  .right-container h3 {
    font-size: 2.5rem;
  }

  .right-container p {
    font-size: 1.8rem;
  }
}

/* ----------- iPad in Landscape ----------- */

@media only screen and (min-width: 1024px) and (max-width: 1365px) and (orientation: landscape) {

  .top {
    height: 42rem;
  }
}

/* ----------- iPad Pro in Portrait ----------- */

@media only screen and (min-width: 1024px) and (max-width: 1100px) and (orientation: portrait) {

  .top {
    display: flex;
    flex-direction: column;
    height: 168rem;
  }

  .top>div {
    width: 100%;
  }

  .right-container span {
    zoom: 3.5;
  }

  .right-container h2,
  .right-container h3 {
    font-size: 3.25rem;
  }

  .right-container p {
    font-size: 2.25rem;
  }
}

/* ----------- iPad Pro in Landscape ----------- */

@media only screen and (min-width: 1366px) and (max-width: 1366px) and (orientation: landscape) {

  .top {
    height: 56rem;
  }
}

/* @media only screen and (min-width: 1101px) {

  .top {
    height: 45rem;
  }

  .contacts {
    height: 79vh;
  }
} */