.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 22rem;
  background-color: #555759;
}

.up {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 80%;
}

.footer-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 45%;
  height: 100%;
  padding-left: 3%;
}

.footer-left p {
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: 1px;
  color: black;
}

.footer-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 55%;
  height: 100%;
}

.footer-right > div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  height: 22%;
  border-right: 1.5px solid white;
}

.footer-right > div:last-child {
  border: none;
}

.footer-right > div p {
  font-weight: 600;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-right > div p:hover {
  cursor: pointer;
  color: #f9a03f;
  transition: 0.5s;
}

.down {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 20%;
}

.down p {
  font-size: 1.3rem;
  letter-spacing: 0.8px;
  color: #a3a9ad;
}

/* //////////////----------------  MEDIA QUERIES  ----------------///////////////*/

/*----- GENERAL SETTINGS MOBILE -----*/

@media only screen and (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
  .footer-right {
    display: none;
  }
}

/* ----------- iPhone 5 & 5S in Portrait ----------- */

@media only screen and (min-width: 320px) and (max-width: 374px) and (orientation: portrait) {
  .footer {
    height: 10rem;
  }

  .footer-left {
    width: 100%;
    padding-left: 3%;
  }

  .footer-left p {
    font-weight: 580;
    font-size: 1.5rem;
    padding-left: 3%;
  }

  .footer-right {
    display: none;
  }

  .down {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 25%;
    padding: 5%;
  }

  .down p {
    font-size: 0.75rem;
    letter-spacing: 0.5px;
  }
}

/* ----------- iPhone 5 & 5S in Landscape ----------- */

@media only screen and (min-width: 568px) and (max-width: 666px) and (orientation: landscape) {
  .footer {
    height: 13rem;
  }

  .footer-left {
    width: 100%;
    padding-left: 5%;
  }

  .logo-container {
    width: 8.5rem;
  }

  .footer-left p {
    font-weight: 580;
    font-size: 1.75rem;
    padding-left: 3%;
  }

  .footer-right {
    display: none;
  }

  .down {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 25%;
    padding: 5%;
  }

  .down p {
    font-size: 0.85rem;
    letter-spacing: 0px;
  }
}

/* ----------- iPhone 6, 7, & 8 in Portrait ----------- */

@media only screen and (min-width: 375px) and (max-width: 413px) and (orientation: portrait) {
  .footer {
    height: 15rem;
  }

  .footer-left {
    width: 70%;
  }

  .logo-container {
    width: 9rem;
  }

  .logo-container p {
    font-weight: 580;
    font-size: 1.6rem;
    padding-left: 3%;
  }

  .up {
    height: 75%;
  }

  .down {
    height: 25%;
    padding-left: 4%;
  }

  .down p {
    font-size: 0.75rem;
    letter-spacing: 0.7px;
  }
}

/* ----------- iPhone 6, 7, & 8 in Landscape ----------- */

@media only screen and (min-width: 667px) and (max-width: 735px) and (orientation: landscape) {
  .footer {
    height: 13.5rem;
  }

  .footer-left {
    width: 100%;
    padding-left: 5%;
  }

  .logo-container {
    width: 9rem;
  }

  .footer-left p {
    font-weight: 580;
    font-size: 1.8rem;
    padding-left: 3%;
  }

  .footer-right {
    display: none;
  }

  .down {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 25%;
    padding: 5%;
  }

  .down p {
    font-size: 0.95rem;
    letter-spacing: 0.5px;
  }
}

/* ----------- iPhone 6/7/8 plus in Portrait ----------- */

@media only screen and (min-width: 414px) and (max-width: 767px) and (orientation: portrait) {
  .footer {
    height: 15.5rem;
  }

  .footer-left {
    width: 70%;
  }

  .logo-container {
    width: 9.5rem;
  }

  .logo-container p {
    font-weight: 580;
    font-size: 1.75rem;
    padding-left: 3%;
  }

  .up {
    height: 75%;
  }

  .down {
    height: 25%;
    padding-left: 4%;
  }

  .down p {
    font-size: 0.85rem;
    letter-spacing: 0.7px;
  }
}

/* ----------- iPhone 6/7/8 plus in Landscape ----------- */

@media only screen and (min-width: 736px) and (max-width: 812px) and (orientation: landscape) {
  .footer {
    height: 15rem;
  }

  .footer-left {
    width: 100%;
    padding-left: 5%;
  }

  .logo-container {
    width: 9.5rem;
  }

  .footer-left p {
    font-weight: 580;
    font-size: 2rem;
    padding-left: 3%;
  }

  .footer-right {
    display: none;
  }

  .down {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 25%;
    padding: 5%;
  }

  .down p {
    font-size: 0.95rem;
    letter-spacing: 0.5px;
  }
}

/* ----------- iPad in Portrait ----------- */

@media only screen and (min-width: 768px) and (max-width: 1023px) and (orientation: portrait) {
  .footer {
    height: 15.5rem;
  }

  .footer-left {
    width: 40%;
    padding-left: 5%;
  }

  .logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12rem;
    height: 100%;
  }

  .logo-container img {
    width: 100%;
    height: auto;
  }

  .up {
    height: 75%;
  }

  .down {
    height: 25%;
    padding-left: 4%;
  }

  .down p {
    font-size: 1rem;
    letter-spacing: 0.7px;
  }
}
