.gallery {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.gallery>div:first-child {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 20rem;
  padding-left: 5%;
}

.gallery>div:first-child p:first-child {
  font-size: 6rem;
  font-weight: 500;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  color: #f9a03f;
  margin-right: 2.5%;
}

.gallery>div:first-child p:last-child {
  font-weight: 300;
  font-size: 2.5rem;
  color: #555759;
}

.pictures-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: auto;
  background-color: #f2f2f2;
}

.pictures-container>div:first-child,
.pictures-container>div:last-child {
  display: flex;
  flex-direction: column;
  width: 49.5%;
  height: auto;
}

.pictures-container>div:first-child>div,
.pictures-container>div:last-child>div {
  width: 100%;
  height: auto;
  margin-bottom: 1%;
  overflow: hidden;
}

.gallery img {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.7;
  width: 99%;
  height: 100%;
  -webkit-transform: scale(1.15);
  -ms-transform: scale(1.15);
  transform: scale(1.15);
  -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s;
}

.gallery img:hover {
  opacity: 1;
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03);
}

/* //////////////----------------  MEDIA QUERIES  ----------------///////////////*/

/*----- GENERAL SETTINGS MOBILE -----*/

@media only screen and (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
  .pictures-container {
    flex-direction: column;
    justify-content: center;
    height: auto;
  }

  .pictures-container>div:first-child,
  .pictures-container>div:last-child,
  .pictures-container>div:first-child>div,
  .pictures-container>div:last-child>div {
    width: 100%;
  }
}

/* ----------- iPhone 5 & 5S in Portrait ----------- */

@media only screen and (min-width: 320px) and (max-width: 374px) and (orientation: portrait) {

  .gallery>div:first-child {
    height: 10rem;
    justify-content: center;
    padding-left: 0%;
  }

  .gallery>div:first-child p:first-child {
    font-size: 3rem;
    font-weight: 500;
    letter-spacing: 1px;
  }

  .gallery>div:first-child p:last-child {
    font-weight: 300;
    font-size: 1.35rem;
  }
}

/* ----------- iPhone 5 & 5S in Landscape ----------- */

@media only screen and (min-width: 568px) and (max-width: 666px) and (orientation: landscape) {
  .gallery>div:first-child {
    height: 10rem;
  }

  .gallery>div:first-child p:first-child {
    font-size: 3.5rem;
    font-weight: 500;
    letter-spacing: 1px;
  }

  .gallery>div:first-child p:last-child {
    font-size: 1.5rem;
  }

  .pictures-container {
    flex-direction: column;
  }

  .pictures-container>div:first-child,
  .pictures-container>div:last-child,
  .pictures-container>div:first-child>div,
  .pictures-container>div:last-child>div {
    width: 100%;
  }
}

/* ----------- iPhone 6/7/8 in Portrait ----------- */

@media only screen and (min-width: 375px) and (max-width: 413px) and (orientation: portrait) {

  .gallery>div:first-child {
    justify-content: center;
    height: 11rem;
    padding-left: 0%;
  }

  .gallery>div:first-child p:first-child {
    font-size: 3.2rem;
    font-weight: 500;
    letter-spacing: 1px;
  }

  .gallery>div:first-child p:last-child {
    font-weight: 300;
    font-size: 1.5rem;
  }
}

/* ----------- iPhone 6, 7, & 8 in Landscape ----------- */

@media only screen and (min-width: 667px) and (max-width: 735px) and (orientation: landscape) {
  .gallery>div:first-child {
    height: 13rem;
  }

  .gallery>div:first-child p:first-child {
    font-size: 4rem;
    font-weight: 500;
    letter-spacing: 1px;
  }

  .gallery>div:first-child p:last-child {
    font-size: 1.75rem;
  }

  .pictures-container {
    flex-direction: column;
  }

  .pictures-container>div:first-child,
  .pictures-container>div:last-child,
  .pictures-container>div:first-child>div,
  .pictures-container>div:last-child>div {
    width: 100%;
  }
}

/* ----------- iPhone 6/7/8 plus in Portrait ----------- */

@media only screen and (min-width: 414px) and (max-width: 812px) and (orientation: portrait) {

  .gallery>div:first-child {
    justify-content: center;
    height: 12rem;
    padding-left: 0%;
  }

  .gallery>div:first-child p:first-child {
    font-size: 3.55rem;
    font-weight: 500;
    letter-spacing: 1px;
  }

  .gallery>div:first-child p:last-child {
    font-weight: 300;
    font-size: 1.7rem;
  }

}

/* ----------- iPhone 6/7/8 plus in Landscape ----------- */

@media only screen and (min-width: 736px) and (max-width: 823px) and (orientation: landscape) {
  .gallery>div:first-child {
    height: 13.5rem;
  }

  .gallery>div:first-child p:first-child {
    font-size: 4.4rem;
    font-weight: 500;
    letter-spacing: 1px;
  }

  .gallery>div:first-child p:last-child {
    font-size: 1.8rem;
  }

  .pictures-container {
    flex-direction: column;
  }

  .pictures-container>div:first-child,
  .pictures-container>div:last-child,
  .pictures-container>div:first-child>div,
  .pictures-container>div:last-child>div {
    width: 100%;
  }
}

/* ----------- iPad in Portrait ----------- */

@media only screen and (min-width: 768px) and (max-width: 1023px) and (orientation: portrait) {
  .gallery>div:first-child {
    height: 18rem;
  }

  .gallery>div:first-child p:first-child {
    font-size: 5.5rem;
    font-weight: 500;
    letter-spacing: 1px;
  }

  .gallery>div:first-child p:last-child {
    font-size: 2rem;
  }
}

@media only screen and (min-width: 1101px) {
  .gallery>div:first-child>div:first-child {
    width: 65%;
    padding-left: 18%;
  }
}