.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 9rem;
  background-color: #f9a03f;
  z-index: 10;
}

.header-left {
  display: flex;
  align-items: center;
  width: 40%;
  height: 100%;
}

.logo-container {
  display: flex;
  align-items: center;
  width: 10rem;
  height: 100%;
}

.logo-container img {
  width: 100%;
  height: auto;
}

.header-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 55%;
  height: 100%;
  margin-left: 5%;
}

.header-right>div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  height: 40%;
  border-right: 1.5px solid white;
}

.header-right>div:last-child {
  border: none;
}

.header-right>div p {
  font-weight: 600;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #555759;
}

.header-right>div p:hover {
  cursor: pointer;
  color: #ffffff;
  transition: 0.5s;
}

.menu-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8rem;
  height: 100%;
}

.hamburger,
.close {
  zoom: 2;
  color: white;
  cursor: pointer;
}

/* ||||||||||||||---------------------  MEDIA QUERIES  ---------------------|||||||||||||||*/

/*----- GENERAL SETTINGS MOBILE AND TABLETS -----*/

@media only screen and (min-width: 320px) and (max-width: 1023px) {

  .header-right {
    display: none;
  }
}

/* ----------- IPHONE 5/5S in Portrait ----------- */

@media only screen and (min-width: 320px) and (max-width: 374px) {

  .header {
    align-items: center;
    height: 7rem;
    padding-right: 3.5%;
  }

  .header-left {
    width: 90%;
    height: 100%;
    padding-left: 3%;
  }

  .logo-container {
    width: 5.5rem;
  }

  .header-left p {
    font-weight: 580;
    font-size: 1.5rem;
    padding-left: 3%;
  }
}

/* ----------- iPhone 5 & 5S in Landscape ----------- */

@media only screen and (min-width: 568px) and (max-width: 666px) {

  .header {
    height: 6.5rem;
  }

  .header-left {
    width: 87%;
    padding-left: 5%;
  }

  .header-right {
    display: none;
  }

  .logo-container {
    width: 5.5rem;
  }
}

/* ----------- iPhone 6/7/8 in Portrait ----------- */

@media only screen and (min-width: 375px) and (max-width: 413px) {

  .header {
    align-items: center;
    height: 7.15rem;
    padding-right: 3.65%;
  }

  .header-left {
    width: 90%;
    height: 100%;
    padding-left: 3.65%;
  }

  .logo-container {
    width: 5.5rem !important;
  }

  .header-left p {
    font-weight: 580;
    font-size: 1.6rem;
    padding-left: 3%;
  }
}

/* ----------- iPhone 6, 7, & 8 in Landscape ----------- */

@media only screen and (min-width: 667px) and (max-width: 735px) {

  .header-left {
    width: 88%;
    padding-left: 5%;
  }

  .logo-container {
    width: 5.5rem !important;
  }

  .header-right {
    display: none;
  }
}

/* ----------- iPhone 6/7/8 plus in Portrait ----------- */

@media only screen and (min-width: 414px) and (max-width: 767px) {

  .header {
    align-items: center;
    height: 7.25rem;
    padding-right: 3.65%;
  }

  .header-left {
    width: 90%;
    height: 100%;
    padding-left: 3.65%;
  }

  .logo-container {
    width: 5.5rem !important;
  }

  .header-left p {
    font-weight: 580;
    font-size: 1.63rem;
    padding-left: 3%;
  }
}

/* ----------- iPhone 6/7/8 plus in Landscape ----------- */

@media only screen and (min-width: 736px) and (max-width: 823px) {

  .header-left {
    width: 89%;
    padding-left: 5%;
  }

  .logo-container {
    width: 5.5rem !important;
  }

  .header-right {
    display: none;
  }
}

/* ----------- iPad & iPad Pro in Portrait GENERAL----------- */

@media only screen and (min-width: 768px) and (max-width: 2000px) {

  .hamburger {
    display: none;
  }

  .header-left {
    width: 40%;
    padding-left: 5%;
  }

  .header-right {
    display: flex;
    margin-left: 2%;
  }

  .logo-container p {
    font-size: 2.25rem;
  }
}

/* ----------- iPad in Landscape ----------- */

@media only screen and (min-width: 1024px) and (max-width: 1365px) {

  .hamburger {
    display: none;
  }
}

/* ----------- iPad Pro in Portrait ----------- */

@media only screen and (min-width: 1024px) and (max-width: 1100px) {

  .header-left {
    width: 50%;
  }

  .header-right {
    display: flex;
    margin-left: 0%;
  }
}