.icon-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    height: 40rem;
}

.icon-container p {
    color: #555759;
}

.icon-container>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 100%;
}

.one,
.three {
    background-color: #f9fafa;
}

.two,
.four {
    background-color: #f1f2f2;
}

.key-word {
    font-size: 2.3rem;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin-top: 15%;
    margin-bottom: 2%;
}

.quote {
    font-size: 1.4rem;
    text-transform: uppercase;
}

.icon-container span {
    zoom: 2;
    color: #f9a03f;
    margin-top: 3%;
}

/* //////////////////------------------  MEDIA QUERIES  ------------------//////////////////*/

/*----- GENERAL SETTINGS MOBILE PORTRAIT-----*/

@media only screen and (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {

    .icon-container {
        display: flex;
        flex-direction: column;
    }

    .icon-container>div {
        width: 100%;
    }

    /*--------------------*/

    .title-lastSection>div:first-child {
        justify-content: center;
        width: 100%;
    }

    .title-lastSection>div:last-child {
        display: none;
    }

}

/*----- GENERAL SETTINGS MOBILE LANDSCAPE-----*/

@media only screen and (min-width: 568px) and (max-width: 812px) and (orientation: landscape) {
    .icon-container {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
    }

    .icon-container>div {
        width: 100%;
    }

    .three {
        background-color: #f1f2f2;
    }

    .four {
        background-color: #f9fafa;
    }

}

/* ----------- IPHONE 5/5S in Portrait ----------- */

@media only screen and (min-width: 320px) and (max-width: 374px) and (orientation: portrait) {

    .icon-container {
        align-items: center;
        height: 65rem;
    }

    .icon-container span {
        zoom: 1.8;
        margin-top: 0%;
    }

    .key-word {
        font-size: 1.65rem;
        margin-top: 6%;
    }

    .quote {
        font-size: 1.25rem;
    }
}

/* ----------- iPhone 5 & 5S in Landscape ----------- */

@media only screen and (min-width: 568px) and (max-width: 666px) and (orientation: landscape) {

    .icon-container {
        align-items: center;
        height: 35rem;
    }

    .icon-container>div {
        width: 100%;
    }

    .icon-container span {
        zoom: 1.8;
        margin-top: 0%;
    }

    .key-word {
        font-size: 1.65rem;
        margin-top: 6%;
    }

    .quote {
        font-size: 1.25rem;
    }
}

/* ----------- iPhone 6/7/8 in Portrait ----------- */

@media only screen and (min-width: 375px) and (max-width: 413px) and (orientation: portrait) {

    .icon-container {
        align-items: center;
        height: 65rem;
    }

    .icon-container span {
        zoom: 1.9;
        margin-top: 0%;
    }

    .key-word {
        font-size: 1.75rem;
        margin-top: 6%;
    }

    .quote {
        font-size: 1.35rem;
    }
}

/* ----------- iPhone 6, 7, & 8 in Landscape ----------- */

@media only screen and (min-width: 667px) and (max-width: 735px) and (orientation: landscape) {
    .icon-container {
        align-items: center;
        height: 35rem;
    }

    .icon-container>div {
        width: 100%;
    }

    .icon-container span {
        zoom: 1.9;
        margin-top: 0%;
    }

    .key-word {
        font-size: 1.75rem;
        margin-top: 6%;
    }

    .quote {
        font-size: 1.35rem;
    }
}

/* ----------- iPhone 6/7/8 plus in Portrait ----------- */

@media only screen and (min-width: 414px) and (max-width: 767px) and (orientation: portrait) {

    .icon-container {
        align-items: center;
        height: 70rem;
    }

    .icon-container span {
        zoom: 2;
        margin-top: 0%;
    }

    .key-word {
        font-size: 1.85rem;
        margin-top: 6%;
    }

    .quote {
        font-size: 1.45rem;
    }
}

/* ----------- iPhone 6/7/8 plus in Landscape ----------- */

@media only screen and (min-width: 736px) and (max-width: 823px) and (orientation: landscape) {
    .icon-container {
        align-items: center;
        height: 38rem;
    }

    .icon-container>div {
        width: 100%;
    }

    .icon-container span {
        zoom: 1.9;
        margin-top: 0%;
    }

    .key-word {
        font-size: 1.75rem;
        margin-top: 6%;
    }

    .quote {
        font-size: 1.35rem;
    }
}

/* ----------- iPad in Portrait ----------- */

@media only screen and (min-width: 768px) and (max-width: 1023px) and (orientation: portrait) {

    .icon-container {
        height: 28rem;
    }

    .key-word {
        font-size: 1.85rem;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-top: 15%;
        margin-bottom: 2%;
    }

    .quote {
        font-size: 1.1rem;
        text-transform: uppercase;
    }

    .icon-container span {
        zoom: 2;
        color: #f9a03f;
        margin-top: 3%;
    }
}

/* ----------- iPad Pro in Portrait ----------- */

@media only screen and (min-width: 1024px) and (max-width: 1110px) and (orientation: portrait) {

    .icon-container {
        height: 37rem;
    }
}