.mainContent {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.first-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding-left: 5%;
  width: 100%;
  height: 25rem;
}

.first-title p:first-child {
  color: #f9a03f;
  font-size: 6rem;
  font-weight: 500;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  margin-right: 2.5%;
}

.first-title p:last-child {
  font-weight: 300;
  font-size: 2.5rem;
  color: #555759;
}

/* //////////////////----------------  MEDIA QUERIES  ----------------//////////////////*/

/* ----------- IPHONE 5/5S in Portrait ----------- */

@media only screen and (min-width: 320px) and (max-width: 374px) and (orientation: portrait) {

  .first-title {
    height: 10rem;
    justify-content: center;
  }

  .first-title p:first-child {
    font-size: 3rem;
    font-weight: 500;
    letter-spacing: 1px;
  }

  .first-title p:last-child {
    display: none;
  }
}

/* ----------- iPhone 5 & 5S in Landscape ----------- */

@media only screen and (min-width: 568px) and (max-width: 666px) and (orientation: landscape) {
  .first-title {
    height: 10rem;
    justify-content: center;
    padding-left: 0%;
  }

  .first-title p:first-child {
    font-size: 3.5rem;
    font-weight: 500;
    letter-spacing: 1px;
  }

  .first-title p:last-child {
    font-size: 1.5rem;
  }
}

/* ----------- iPhone 6/7/8 in Portrait ----------- */

@media only screen and (min-width: 375px) and (max-width: 413px) and (orientation: portrait) {

  .first-title {
    height: 10rem;
    justify-content: center;
  }

  .first-title p:first-child {
    font-size: 3.2rem;
    font-weight: 500;
    letter-spacing: 1px;
  }

  .first-title p:last-child {
    display: none;
  }
}

/* ----------- iPhone 6, 7, & 8 in Landscape ----------- */

@media only screen and (min-width: 667px) and (max-width: 735px) and (orientation: landscape) {
  .first-title {
    height: 13rem;
    justify-content: center;
    padding-left: 0%;
  }

  .first-title p:first-child {
    font-size: 4rem;
  }

  .first-title p:last-child {
    font-size: 1.75rem;
  }
}

/* ----------- iPhone 6/7/8 plus in Portrait ----------- */

@media only screen and (min-width: 414px) and (max-width: 767px) and (orientation: portrait) {

  .first-title {
    height: 12rem;
    justify-content: center;
    padding-left: 0%;
  }

  .first-title p:first-child {
    font-size: 3.55rem;
    font-weight: 500;
    letter-spacing: 1px;
  }

  .first-title p:last-child {
    display: none;
  }
}

/* ----------- iPhone 6/7/8 plus in Landscape ----------- */

@media only screen and (min-width: 736px) and (max-width: 823px) and (orientation: landscape) {
  .first-title {
    height: 13rem;
    justify-content: center;
    padding-left: 0%;
  }

  .first-title p:first-child {
    font-size: 4.4rem;
  }

  .first-title p:last-child {
    font-size: 1.8rem;
  }
}

/* ----------- iPad in Portrait ----------- */

@media only screen and (min-width: 768px) and (max-width: 1023px) and (orientation: portrait) {
  .first-title {
    height: 18rem;
    justify-content: center;
    padding-left: 0%;
  }

  .first-title p:first-child {
    font-size: 5.5rem;
    font-weight: 500;
    letter-spacing: 1px;
  }

  .first-title p:last-child {
    font-size: 2rem;
  }

  /* --------------------------------------- */

  .icon-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    height: 65rem;
    width: 100%;
  }

  .icon-container div {
    width: 38rem;
  }

  .three {
    background-color: #f1f2f2;
  }

  .four {
    background-color: #f9fafa;
  }

  .icon-container span {
    zoom: 2.65;
  }

  .key-word {
    font-size: 2.5rem;
  }

  .quote {
    font-size: 1.8rem;
  }

  /* --------------------------------------- */

  .middle {
    height: 70rem;
  }

  .quote2>div:first-child {
    padding-top: none;
  }

  .quote1>div:last-child,
  .quote2>div:last-child {
    height: 25%;
  }

  .quote1>div:first-child,
  .quote2>div:first-child {
    padding: 5%;
  }

  .quote1>div:first-child p,
  .quote2>div:first-child p {
    font-size: 2.3rem;
    line-height: 4rem;
  }

  .quote1>div:last-child,
  .quote2>div:last-child {
    align-items: flex-start;
  }

  .quote1>div:last-child p,
  .quote2>div:last-child p {
    font-size: 2.1rem;
  }

  /* --------------------------------------- */

  .bottom-container {
    height: 78rem;
  }

  .title-lastSection {
    justify-content: center;
    height: 9rem;
    padding-left: 0%;
  }

  .title-lastSection p:first-child {
    font-size: 5.5rem;
    font-weight: 500;
    letter-spacing: 1px;
  }

  .title-lastSection p:last-child {
    display: none;
  }

  .lastSection {
    justify-content: center;
    height: 90rem;
  }

  .central-square {
    width: 85%;
    height: 85%;
  }

  .num-romano {
    font-size: 9rem;
    font-weight: 480;
  }

  .caption p:first-child {
    font-size: 2.5rem;
    font-weight: 550;
  }

  .caption p:last-child {
    font-size: 1.85rem;
  }

}

/* ----------- iPad in Landscape ----------- */

@media only screen and (min-width: 1024px) and (max-width: 1279px) and (orientation: landscape) {

  .first-title {
    justify-content: flex-start;
    padding-left: 8%;
  }

  .title-lastSection {
    justify-content: center;
    padding-left: 0%;
  }

}

/* ----------- iPad Pro in Portrait ----------- */

@media only screen and (min-width: 1024px) and (max-width: 1100px) and (orientation: portrait) {

  .first-title {
    justify-content: center;
    padding-left: 0%;
  }

}

@media only screen and (min-width: 1101px) {

  .quote1>div:first-child,
  .quote2>div:first-child {
    padding: 5%;
  }

}