.menu {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #555759;
    color: white;
    font-size: 1.5rem;
    top: -20rem;
}

.menu ul {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}


.menu ul li {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 5rem;
    padding: 0.2rem 2rem;
    border-bottom: 1px solid #F9A03F;
}

.menu ul li a {
    color: #ffffff;
    text-transform: uppercase;
    font-family: 'Rubik', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
}