.middle {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80rem;
}

.quote1,
.quote2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: 50%;
    padding: 5%
}

.quote1>p:first-child,
.quote2>p:first-child {
    font-size: 3rem;
    color: #f9a03f;
    font-style: italic;
    line-height: 5rem;
    margin-bottom: 3%;
}

.quote1>p:last-child,
.quote2>p:last-child {
    font-size: 2.2rem;
    color: #757779;
    font-weight: lighter;
}

/* //////////////////----------------  MEDIA QUERIES  ----------------//////////////////*/

/* ----------- IPHONE 5/5S in Portrait ----------- */

@media only screen and (min-width: 320px) and (max-width: 374px) and (orientation: portrait) {

    .middle {
        height: 60rem;
    }

    .quote1,
    .quote2 {
        padding: 8%;
    }

    .quote1>p:first-child,
    .quote2>p:first-child {
        font-size: 1.85rem;
        line-height: 3rem;
        margin-bottom: 5%;
    }

    .quote1>p:last-child,
    .quote2>p:last-child {
        font-size: 1rem;
    }
}

/* ----------- iPhone 5 & 5S in Landscape ----------- */

@media only screen and (min-width: 568px) and (max-width: 666px) and (orientation: landscape) {
    .middle {
        height: 40rem;
    }

    .quote1>p:first-child,
    .quote2>p:first-child {
        font-size: 1.85rem;
        line-height: 3rem;
    }

    .quote1>p:last-child,
    .quote2>p:last-child {
        font-size: 1rem;
    }
}

/* ----------- iPhone 6/7/8 in Portrait ----------- */

@media only screen and (min-width: 375px) and (max-width: 413px) and (orientation: portrait) {

    .middle {
        height: 55rem;
    }

    .quote1,
    .quote2 {
        padding: 8%;
    }

    .quote1>p:first-child,
    .quote2>p:first-child {
        font-size: 1.95rem;
        line-height: 3rem;
        margin-bottom: 5%;
    }

    .quote1>p:last-child,
    .quote2>p:last-child {
        font-size: 1.15rem;
    }
}

/* ----------- iPhone 6, 7, & 8 in Landscape ----------- */

@media only screen and (min-width: 667px) and (max-width: 735px) and (orientation: landscape) {

    .middle {
        height: 40rem;
    }

    .quote1>p:first-child,
    .quote2>p:first-child {
        font-size: 1.95rem;
        line-height: 3rem;
    }

    .quote1>p:last-child,
    .quote2>p:last-child {
        font-size: 1.1rem;
    }

}

/* ----------- iPhone 6/7/8 plus in Portrait ----------- */

@media only screen and (min-width: 414px) and (max-width: 767px) and (orientation: portrait) {

    .middle {
        height: 58rem;
    }

    .quote1,
    .quote2 {
        padding: 8%;
    }

    .quote1>p:first-child,
    .quote2>p:first-child {
        font-size: 2rem;
        line-height: 3.2rem;
        margin-bottom: 5%;
    }

    .quote1>p:last-child,
    .quote2>p:last-child {
        font-size: 1.2rem;
    }
}

/* ----------- iPhone 6/7/8 plus in Landscape ----------- */

@media only screen and (min-width: 736px) and (max-width: 823px) and (orientation: landscape) {
    .middle {
        height: 42rem;
    }

    .quote1>p:first-child,
    .quote2>p:first-child {
        font-size: 2rem;
        line-height: 3rem;
    }

    .quote1>p:last-child,
    .quote2>p:last-child {
        font-size: 1.25rem;
    }
}