.profilo {
  display: flex;
  flex-direction: column;
}

.profilo>div:first-child {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 25rem;
  padding-left: 5%;
}

.profilo p:first-child {
  font-size: 6rem;
  font-weight: 500;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  color: #f9a03f;
  margin-right: 2.5%;
}

.profilo p:last-child {
  font-weight: 300;
  font-size: 2.5rem;
  color: #555759;
}

/*--------------------------------------------------------*/

.middle-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 48rem;
  background-color: #a4a9ad;
}

.middle-section>div:first-child {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
  padding: 5rem;
  background-color: #f2f2f2;
  animation: moveInLeft 2s;
}

.middle-section>div:first-child p {
  font-size: 2.8rem;
  color: #555759;
  line-height: 4.5rem;
  text-align: center;
}

.middle-section>div:last-child {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
  background-color: #ffffff;
  animation: moveInRight 2s;
}

.middle-section>div:last-child img {
  height: 100%;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.empty {
  width: 100%;
  height: 20rem;
}

/* /////////////////----------------  MEDIA QUERIES  ----------------//////////////////*/

/*----- GENERAL SETTINGS MOBILE -----*/

@media only screen and (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
  .middle-section {
    flex-direction: initial;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100vw;
    height: 40rem;
    background-color: #a4a9ad3d;
  }

  .middle-section>div:first-child {
    width: 100%;
    padding: 4rem;
    animation: none;
    background-color: none;
    position: absolute;
    z-index: 10;
    opacity: 0.48;
  }

  .middle-section>div:first-child p {
    font-size: 1rem;
    line-height: 2rem;
    letter-spacing: 1px;
  }

  .middle-section>div:last-child {
    width: 100%;
    animation: none;
    position: absolute;
  }
}

/* ----------- iPhone 5 & 5S in Portrait ----------- */

@media only screen and (min-width: 320px) and (max-width: 374px) and (orientation: portrait) {

  .profilo>div:first-child {
    justify-content: center;
    height: 10rem;
  }

  .profilo p:first-child {
    font-size: 3rem;
    font-weight: 500;
    letter-spacing: 1px;
  }

  .profilo p:last-child {
    display: none;
  }

  .middle-section {
    flex-direction: initial;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100vw;
    height: 40rem;
    background-color: #a4a9ad3d;
  }

  .middle-section>div:first-child {
    width: 100%;
    padding: 4rem;
    animation: none;
    background-color: none;
    position: absolute;
    z-index: 10;
    opacity: 0.48;
  }

  .middle-section>div:first-child p {
    font-size: 1.3rem;
    line-height: 2.15rem;
    letter-spacing: 1.5px;
  }

  .middle-section>div:last-child {
    width: 100%;
    animation: none;
    position: absolute;
  }

  .middle-section>div:last-child img {
    height: 78%;
  }

  .empty {
    height: 10rem;
  }
}

/* ----------- iPhone 5 & 5S in Landscape ----------- */

@media only screen and (min-width: 568px) and (max-width: 666px) and (orientation: landscape) {
  .profilo>div:first-child {
    justify-content: center;
    height: 10rem;
    padding-left: 0%;
  }

  .profilo>div:first-child p:first-child {
    font-size: 3.5rem;
    font-weight: 500;
    letter-spacing: 1px;
  }

  .profilo>div:first-child p:last-child {
    font-size: 1.5rem;
  }

  .middle-section {
    width: 100%;
    height: 30rem;
    position: relative;
    background-color: #a4a9ad17;
  }

  .middle-section>div:first-child {
    width: 100%;
    padding: 4rem;
    animation: none;
    background-color: none;
  }

  .middle-section>div:first-child p {
    font-size: 1.5rem;
    line-height: 4rem;
    letter-spacing: 1.85px;
  }

  .middle-section>div:last-child {
    width: 100%;
    animation: none;
    position: absolute;
    opacity: 0.5;
  }

  .empty {
    height: 10rem;
  }
}

/* ----------- iPhone 6/7/8 in Portrait ----------- */

@media only screen and (min-width: 375px) and (max-width: 413px) and (orientation: portrait) {
  .profilo>div:first-child {
    height: 11rem;
    justify-content: center;
  }

  .profilo>div:first-child p:first-child {
    font-size: 3.2rem;
    font-weight: 500;
    letter-spacing: 1px;
  }

  .profilo>div:first-child p:last-child {
    display: none;
  }

  .middle-section {
    flex-direction: initial;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100vw;
    height: 42rem;
    background-color: #a4a9ad3d;
  }

  .middle-section>div:first-child {
    width: 100%;
    padding: 4rem;
    animation: none;
    background-color: none;
    position: absolute;
    z-index: 10;
    opacity: 0.48;
  }

  .middle-section>div:first-child p {
    font-size: 1.35rem;
    line-height: 2.35rem;
    letter-spacing: 1.5px;
  }

  .middle-section>div:last-child {
    width: 100%;
    animation: none;
    position: absolute;
  }

  .middle-section>div:last-child img {
    height: 78%;
  }

  .empty {
    height: 11rem;
  }
}

/* ----------- iPhone 6, 7, & 8 in Landscape ----------- */

@media only screen and (min-width: 667px) and (max-width: 735px) and (orientation: landscape) {
  .profilo>div:first-child {
    justify-content: center;
    height: 13rem;
    padding-left: 0%;
  }

  .profilo>div:first-child p:first-child {
    font-size: 4rem;
  }

  .profilo>div:first-child p:last-child {
    font-size: 1.75rem;
  }

  .middle-section {
    width: 100%;
    height: 35rem;
    position: relative;
    background-color: #a4a9ad17;
  }

  .middle-section>div:first-child {
    width: 100%;
    padding: 4rem;
    animation: none;
    background-color: none;
  }

  .middle-section>div:first-child p {
    font-size: 1.6rem;
    line-height: 4rem;
    letter-spacing: 1.85px;
  }

  .middle-section>div:last-child {
    width: 100%;
    animation: none;
    position: absolute;
    opacity: 0.5;
  }

  .empty {
    height: 13rem;
  }
}

/* ----------- iPhone 6/7/8 plus in Portrait ----------- */

@media only screen and (min-width: 414px) and (max-width: 767px) and (orientation: portrait) {

  .profilo>div:first-child {
    height: 12rem;
    justify-content: center;
  }

  .profilo>div:first-child p:first-child {
    font-size: 3.55rem;
    font-weight: 500;
    letter-spacing: 1px;
  }

  .profilo>div:first-child p:last-child {
    display: none;
  }

  .middle-section {
    flex-direction: initial;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100vw;
    height: 42rem;
    background-color: #a4a9ad3d;
  }

  .middle-section>div:first-child {
    width: 100%;
    padding: 4rem;
    animation: none;
    background-color: none;
    position: absolute;
    z-index: 10;
    opacity: 0.48;
  }

  .middle-section>div:first-child p {
    font-size: 1.5rem;
    line-height: 2.5rem;
    letter-spacing: 1.5px;
  }

  .middle-section>div:last-child {
    width: 100%;
    animation: none;
    position: absolute;
  }

  .middle-section>div:last-child img {
    height: 78%;
  }

  .empty {
    height: 12rem;
  }
}

/* ----------- iPhone 6/7/8 plus in Landscape ----------- */

@media only screen and (min-width: 736px) and (max-width: 823px) and (orientation: landscape) {
  .profilo>div:first-child {
    height: 13.5rem;
    justify-content: center;
    padding-left: 0%;
  }

  .profilo>div:first-child p:first-child {
    font-size: 4.4rem;
  }

  .profilo>div:first-child p:last-child {
    font-size: 1.8rem;
  }

  .middle-section {
    width: 100%;
    height: 35rem;
    position: relative;
    background-color: #a4a9ad17;
  }

  .middle-section>div:first-child {
    width: 100%;
    padding: 4rem;
    animation: none;
    background-color: none;
  }

  .middle-section>div:first-child p {
    font-size: 1.6rem;
    line-height: 4rem;
    letter-spacing: 1.85px;
  }

  .middle-section>div:last-child {
    width: 100%;
    animation: none;
    position: absolute;
    opacity: 0.5;
  }

  .empty {
    height: 13.5rem;
  }
}

/* ----------- iPad in Portrait ----------- */

@media only screen and (min-width: 768px) and (max-width: 1023px) and (orientation: portrait) {

  .profilo>div:first-child,
  .empty {
    height: 18rem;
    justify-content: center;
    padding-left: 0%;
  }

  .profilo>div:first-child p:first-child {
    font-size: 5.5rem;
    font-weight: 500;
    letter-spacing: 1px;
  }

  .profilo>div:first-child p:last-child {
    font-size: 2rem;
  }

  .middle-section>div:first-child p {
    font-size: 1.5rem;
  }
}

/* ----------- iPad in Landscape ----------- */

@media only screen and (min-width: 1024px) and (max-width: 1365px) and (orientation: landscape) {

  .middle-section>div:first-child p {
    font-size: 2rem;
  }
}

/* ----------- iPad Pro in Portrait ----------- */

@media only screen and (min-width: 1024px) and (max-width: 1100px) and (orientation: portrait) {

  .middle-section {
    height: 66rem;
  }

  .middle-section>div:first-child p {
    font-size: 2.3rem;
  }
}

@media only screen and (min-width: 1101px) {
  .profilo>div:first-child>div:first-child {
    width: 65%;
    padding-left: 18%;
  }

  .middle-section {
    height: 80rem;
  }
}

/* 
.profilo {
  height: 85vh;
} */