* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Rubik", sans-serif;
  font-size: 62.5%;
  text-rendering: optimizeLegibility;
  padding: 0;
  margin: 0;
  width: 100vw;
  min-width: 100%;
  background-color: #f9f9f9;
}

body {
  width: inherit;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}
